<h2><%= author.name %></h2>
<a href="/authors/<%= author.id %>/edit">Edit</a>
<!--'../' means just back to so back one folder-->
<%- include('../partials/deleteForm',{ url: `/authors/${author.id}` }) %>
<!--if we have books for that author-->
<% if (booksByAuthor.length > 0) { %>
  <h2>Books By Author</h2>
  <% booksByAuthor.forEach(book => { %>
    <a href="/books/<%= book.id %>">
      <img height="150" width="100" src="<%= book.coverImagePath %>">
    </a>
  <% }) %>
<% } %>
